{% extends 'actions.html.twig' %}

{% block table %}
<!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <br>
                  <h1 class="section-title">Наші контакти</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">

                <div class="find-widget">
                <br>
                 Компанія: FreshProducts
                </div>
                <div class="find-widget">
                 <br>
                 Адреса: Україна, м. Харків
                </div>
                <div class="find-widget">
                 <br>
                  Телефон:  + 38-050-000-00-00
                </div>
                <div class="find-widget">
                 <br>
                  Сайт:  <a href="/main">www.freshproducts.com</a>
                </div>
                <div class="find-widget">
                 <br>
                   Графік роботи: Пн-Пт: 09:00 - 18.00
                </div>
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
              <h4> Зворотній зв'язок</h4>
                  <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                      <!-- Name -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Ім'я</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                        <label class="control-label">Тема</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Повідомлення</label>
                          <textarea class="form-control" rows="3" id="message" name="message" required data-error="Напишіть нам"></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">
                          <button class="btn btn-common btn-outline-success my-2" type="submit" id="form-submit"> Надіслати повідомлення</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>
    {% endblock %}